header h1 {
    text-align: center;
}
main img{
    display: block;
    margin: 1rem;
    margin: auto;
    margin-bottom: 1rem;
}

main img[data-src] {
    filter: blur(0.2em);
}

main img {
    filter: blur(0em);
    transition: filter 1s;
}