@media only screen and (min-width: 64rem) {
    #hamburger {
        display: none;
    }
    #logo {
        width: 24rem;
        margin: 2em;
    }
    #social {
        width: 20em;
        margin-right: 5%;
    }
    #upper-nav nav#primaryNav {
        gap: 5%;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    #primaryNav a:hover {
        color: #31c48d;
        background-color: white;
    }
    #primaryNav a {
        border: none;
    }
    #primaryNav a:first-child {
        border-top: none;
    }
    #upper-nav {
        display: flex;
    }
    /*main*/
    #spotlight3 {
        display: block;
    }
    #spotlights {
        flex-direction: column;
    }
    main {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "event hero hero spotlights"
        "weather hero hero spotlights"
        "join news news spotlights";
    }
    /*footer*/
    #upper-footer {
        display: flex;
    }
    #upper-footer img {
        margin-left: 10em;
    }
    #more-info {
        flex: 1;
    }

}