@media only screen and (min-width: 64rem) {
    #hamburger {
        display: none;
    }
    #logo {
        width: 24rem;
        margin: 2em;
    }
    #social {
        width: 20em;
        margin-right: 5%;
    }
    #social img:hover{
        transform: scale(1.2);
        transition: 0.3s;
    }
    #upper-nav nav#primaryNav {
        gap: 5%;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    #primaryNav a:hover {
        color: #31c48d;
        background-color: white;
        transform: scale(1.3);
        transition: 0.2s;
    }
    #primaryNav a {
        border: none;
    }
    #primaryNav a:first-child {
        border-top: none;
    }
    #active {
        border-radius: 5px 20px 20px 5px;
    }
    #upper-nav {
        display: flex;
    }
    /*main*/
    #spotlight3 {
        display: block;
    }
    #spotlights {
        flex-direction: column;
    }
    main {
        grid-template-columns: 1fr 2fr 1fr;
    }
    /*Using grid placements of main div elements*/
    #hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    #event {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #join {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #news {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #spotlights {
        grid-column: 3/4;
        grid-row: 1/4;
    }
    /*footer*/
    #upper-footer {
        display: flex;
    }
    #upper-footer img {
        margin-left: 10em;
    }
    #more-info {
        flex: 1;
    }

    /*week 5 chamber of commerce continued*/
    main div {
        margin: .5rem;
    }
    main {
        padding: 1rem;
    }
    /*hero div*/

    #hero h1 {
        font-size: 3rem;
    }
    #hero button {
        font-size: 2rem;
    }
    /*weather div*/

    #weather {
        margin-right: auto;
        margin-left: 10px;
        width: 91%;
    }
    #weather img {
        max-width: 40%;
        margin-left: 10%;
    }
    #weather-temperature {
        margin-right: 5%;
    }

    /*spotlights div*/

    #spotlights {
        width: min-content;
    }
    .spotlight h2 {
        font-size: .9rem;
    }
    #spotlight1 img {
        width: 25%;
    }
    
    /*Discover Page*/
    #discover-main div {
        display: flex;
        flex-direction: column;
    }
}