@media only screen and (min-width: 35rem) {
    #hamburger {
        width: 4rem;
        height: 4rem;
        font-size: 2em;
    }
    #social {
        margin-left: 5em;
    }
    #social img {
        width: 40%;
    }
    #logo {
        margin-left: 5em;
        margin-top: 2em;
        margin-right: 2em;
    }
    /*main*/
    #join {
        display: block;
        grid-area: join;
    }
    #spotlights {
        display: flex;
        flex-direction: row;
        padding: 1em;
    }
    #spotlights div {
        flex: 1;
    }
    /*main*/
    main {
        grid-template-areas: 
        "hero hero hero"
        "news news news"
        "spotlights spotlights spotlights"
        "join join join"
        "event event weather";
        
    }

    /*footer*/
    #upper-footer {
        display: grid;
        grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
        place-items: center;
    }
    #upper-footer img{
        grid-column: 1/2;
    }
    #address {
        grid-column: 2/3;
    }
    #more-info {
        grid-column: 4/5;
    }

    /*week 5 chamber of commerce website continued*/

    /*Join div*/
    #join {
        background-color: #adbfb8;
        padding: 1rem;
    }
    #join button {
        font-family: "Roboto Slab", sans-serif;
        padding: 1rem;
        background-color: #31c48d;
        border-radius: 10px;
        font-weight: bold;
        width: 100%;
    }
    #join p {
        font-family: "Montserrat", serif;
        text-align: center;
    }

    /*Weather div*/
    #weather {
        margin-left: auto;
        margin-right: 0;
        width: 90%;
    }
    #weather-temperature {
        font-size: 2rem;
    }
}   